<div class="container-fluid">
  <div class="row align-items-end">
    <div class="col-xs-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title">
            <h2>
              {{ productoToEdit ? 'Edición' : 'Registro' }} de
              Productos
            </h2>
          </div>
        </div>
        <div class="card-body">
          <div class="card-content">
            <form [formGroup]="formProducto">
              <div class="form-row align-items-end">

                <div class="col-6">
                  <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="nombre"
                      id="nombre"
                      required
                    />
                  </div>
                </div>

                <div class="col-6">
                  <div class="form-group">
                    <label for="codigo">Codigo</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="codigo"
                      id="codigo"
                      required
                    />
                  </div>
                </div>

                <div class="col-6">
                  <div class="form-group">
                    <label for="codigo_proveedor">Codigo Proveedor</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="codigo_proveedor"
                      id="codigo_proveedor"
                      required
                    />
                  </div>
                </div>

                <div class="col-6">
                  <div class="form-group">
                    <label for="costo">Costo</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="costo"
                      id="costo"
                      required
                    />
                  </div>
                </div>

                <div class="col-6">
                  <div class="form-group">
                    <label for="precio1">Precio 1</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="precio1"
                      id="precio1"
                      required
                    />
                  </div>
                </div>

                <div class="col-6">
                  <div class="form-group">
                    <label for="precio2">Precio 2</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="precio2"
                      id="precio2"
                      required
                    />
                  </div>
                </div>

                <div class="col-6">
                  <div class="form-group">
                    <label for="precio3">Precio 3</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="precio3"
                      id="precio3"
                      required
                    />
                  </div>
                </div>

                <div class="col-6">
                  <div class="form-group">
                    <label for="departamento">Departamento</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="departamento"
                      id="departamento"
                      required
                    />
                  </div>
                </div>


              </div>
              
              <div class="row">
                <div
                  class="col-auto my-2"
                  *ngIf="productoToEdit; else noEditMode"
                >
                  <button
                    type="button"
                    class="btn btn-raised btn-primary"
                    [disabled]="formProducto.invalid"
                    (click)="edit()"
                  >
                    Editar
                  </button>
                </div>
                <ng-template #noEditMode>
                  <div class="col-auto my-2">
                    <button
                      type="button"
                      class="btn btn-raised btn-primary"
                      [disabled]="formProducto.invalid"
                      (click)="add()"
                    >
                      Guardar
                    </button>
                  </div>
                </ng-template>

                <div class="col-auto my-2">
                  <button
                    type="button"
                    class="btn btn-raised btn-warning"
                    [disabled]="!formProducto.dirty"
                    (click)="formProducto.reset()"
                  >
                    Limpiar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

