<div class="container-fluid">
  <div class="row align-items-end">
    <div class="col-xs-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title">
            <h2>
              {{ clienteToEdit ? 'Edición' : 'Registro' }} de
              Clientes
            </h2>
          </div>
        </div>
        <div class="card-body">
          <div class="card-content">
            <form [formGroup]="formCliente">
              <div class="form-row align-items-end">
                <div class="col-6">
                  <div class="form-group">
                    <label for="email">Correo</label>
                    <input
                      type="mail"
                      class="form-control"
                      formControlName="email"
                      id="email"
                      required
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="first_name">Nombre</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="first_name"
                      id="first_name"
                      required
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="razon_social">Razón Social</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="razon_social"
                      id="razon_social"
                      required
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="rif">Rif</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="rif"
                      id="rif"
                      required
                    />
                  </div>
                </div>

                <div class="col-6">
                  <div class="form-group">
                    <label for="direccion">Direccion</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="direccion"
                      id="direccion"
                      required
                    />
                  </div>
                </div>

                <div class="col-6">
                  <div class="form-group">
                    <label for="telefono">Telefono</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="telefono"
                      id="telefono"
                      required
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="notas">Notas</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="notas"
                      id="notas"
                      required
                    />
                  </div>
                </div>
                <!-- <div class="col-6">
                  <div class="form-group">
                    <label for="producto">producto</label>
                    <select class="form-control"
                    formControlName="notas"
                    id="notas"
                    required>
                      <option *ngFor="let p of productos" value="{{p.id}}">{{p.nombre}}</option>
                      <option value="salida">Salida</option>
                    </select>
                  </div>
                </div> -->
              </div>
              
              <div class="row">
                <div
                  class="col-auto my-2"
                  *ngIf="clienteToEdit; else noEditMode"
                >
                  <button
                    type="button"
                    class="btn btn-raised btn-primary"
                    [disabled]="formCliente.invalid"
                    (click)="edit()"
                  >
                    Editar
                  </button>
                </div>
                <ng-template #noEditMode>
                  <div class="col-auto my-2">
                    <button
                      type="button"
                      class="btn btn-raised btn-primary"
                      [disabled]="formCliente.invalid"
                      (click)="add()"
                    >
                      Guardar
                    </button>
                  </div>
                </ng-template>

                <div class="col-auto my-2">
                  <button
                    type="button"
                    class="btn btn-raised btn-warning"
                    [disabled]="!formCliente.dirty"
                    (click)="formCliente.reset()"
                  >
                    Limpiar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

